.team-detail-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.team-navigation {
  width: 300px;
  flex-grow: 0;
}

.section {
  padding: 20px 10px 20px 20px;
}

.leave-team {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 300;
  color: var(--mint-cream);
}

.lists {
  position: relative;
  width: 880px;
  padding-top: 20px;
}

.mini-circle-thing {
  width: 32px;
  height: 32px;
  background-color: var(--very-dark-gray);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 5px;
  cursor: default;
}

.body-initials {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--mint-cream);
}

.list {
  padding-top: 20px;
}

.section > .section-title {
  height: 35px;
  font-family: var(--font);
  font-size: 24px;
  font-weight: bold;
  color: var(--mint-cream);
  display: flex;
  margin-bottom: 5px;
}

.section .section-row {
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-name {
  font-family: var(--font);
  color: var(--mint-cream);
  font-size: 18px;
  font-weight: 300;
}

.section.team-lists .new-list {
  font-family: var(--font);
  font-size: 16px;
  font-weight: bold;
  color: var(--medium-turquoise);
  cursor: pointer;
}