.add-task {
  height: 66px;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--very-dark-gray);
}

.add-task-line {
  width: 728px;
  height: 48px;
  font-family: var(--font);
  font-size: 28px;
  font-weight: 300;
  line-height: 48px;
  margin: 8px 0 8px 64px;
}

.add-task-line.field {
  background-color: var(--very-dark-gray);
  color: var(--mint-cream);
  padding: 0 10px;
}

.add-task-line.placeholder {
  background-color: var(--dark-gray);
  color: var(--medium-gray);
  padding: 0;
  cursor: text;
}

.add-task .buttons {
  width: 88px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-task .save-button, .add-task .cancel-button {
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;
}

.add-task > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
