.Assigned-tasks {
  width: 800px;
  height: 34px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--mint-cream);
}

.no-task-message {
  width: 800px;
  height: 64px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 64px;
  letter-spacing: normal;
  text-align: center;
  color: var(--maize);
  margin-top: 60px;
}

.task-divider {
  height: 10px;
  border-bottom: solid 1px var(--very-dark-gray);
}

#assigned-task-list .task {
  height: 64px;
  border-bottom: solid 1px var(--very-dark-gray);
  display: flex;
  align-items: center;
}

#assigned-task-list .task .task-info {
  flex-grow: 1;
}

#assigned-task-list .task .task-due-date {
  flex-grow: 0
}

.tasks > .tasks-container {
  position: relative;
  width: 800px;
  margin: 20px auto;
}

.task-name {
  height: 22px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  color: var(--mint-cream);
  margin-bottom: 8px;
}

.task-origin {
  height: 14px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 14px;
  color: var(--mint-cream);
}

.logo-only {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.due-day {
  width: 65px;
  height: 65px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 65px;
  text-align: right;
  color: var(--mint-cream);
}