input {
  border: 0;
}

input:focus {
  outline: none;
}

.unauthenticated-view {
  width: 800px;
  height: 500px;
  background-color: var(--very-dark-gray);
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.unauthenticated-view > .sidebox {
  width: 300px;
  background-color: var(--english-green);
}

.sidebox, .registration-form, .login-form {
  height: 100%;
  flex-grow: 0;
  display: inline-block;
}

.registration-form {
  padding: 40px 30px;
}

.login-form {
  padding: 90px 30px 40px 30px;
}

.sidebox > .logo-container {
  height: 115px;
  padding: 10px 38px;
  border-bottom: 1px solid var(--very-dark-gray)
}

.logo-container img.logo-img {
  height: 96px;
  width: 224px;
}

.sidebox > .welcome {
  padding: 60px 0;
}

.sidebox > .welcome > .welcome-message {
  width: 300px;
  height: 70px;
  font-family: var(--font);
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 70px;
  letter-spacing: normal;
  text-align: center;
  color: var(--mint-cream);
}

label, input {
  display: block;
}

.row {
  position: relative;
  display: block;
  width: 100%;
  padding: 17px 0 0 0;
}

.field-first-name,
.field-last-name,
.field-email,
.field-password,
.field-password-confirmation {
  position: relative;
  display: inline-block;
  padding: 10px 10px 0 10px;
}

.registration-form .field-first-name,
.registration-form .field-last-name,
.registration-form .field-email,
.registration-form .field-password,
.registration-form .field-password-confirmation {
  width: 220px
}

.registration-form .field-email {
  width: 440px
}

.login-form .field-email,
.login-form .field-password {
  width: 440px
}

.registration-form .button-row {
  margin: 10px 10px 0 10px;
  padding: 50px 110px;
}

.login-form .button-row {
  margin: 60px 10px 0 10px;
  padding: 50px 110px;
}

.unauthenticated-view input.field {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: var(--dark-gray);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--mint-cream);
}

.unauthenticated-view .field-label {
  margin-bottom: 5px;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  color: var(--mint-cream);
}

.unauthenticated-view input.submit-button,
.unauthenticated-view  input.toggle-button {
  width: 200px;
  height: 50px;
  font-family: var(--font);
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--mint-cream);
  cursor: pointer;
}

.unauthenticated-view input.submit-button {
  background-color: var(--english-green);
}

.unauthenticated-view input.toggle-button {
  background-color: var(--dark-gray);
}

.form-toggle {
  padding: 0 50px;
}

.toggle-message {
  display: table;
  width: 200px;
  height: 95px;
  font-family: var(--font);
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--mint-cream);
}

.toggle-message > span {
  display: table-cell;
  vertical-align: middle;
}